<body id="container-web"></body>
<!-- <div id="grad1"></div> -->

<ul class="nav-button-list-pages">
  <!-- <li id="home-page"><a href="/welcome/index.html" class="button">Home</a></li> -->
  <li id="home-page"><a href="/welcome/index.html" class="button"><%= image_tag("colorlogo.jpg", class:"logo", alt:"Tania Kelvin Logo") %></a></li>
  <li id="about-page"><a href="/static_pages/about.html" class="button">About</a></li>
  <li id="web-page"><a href="/static_pages/web.html" class="button">Web</a></li>
  <li id="graphics-page"><a href="/static_pages/graphics.html" class="button">Graphics</a></li>
  <li id="multi-page"><a href="/static_pages/multimedia.html" class="button">Multimedia</a></li>
  <li id="art-page"><a href="/static_pages/art.html" class="button">Art</a></li>
</ul>

<div class="web-info">

<p>
  <h1>Web Development</h1><br>
  I'm a full stack Web Developer. I mainly work in Ruby on Rails, with all the rest that works with Rails. Below is a form created in Rails. Please fill in your name, email, and comments! <br>
  To view code I've developed and continue to work on, click... <a href="https://github.com/degreesK"><span style="color:black;font-weight:bold">Github profile</span></a> (degreesK).
</p>


<div id="comments_form">
  <% if @comment.errors.any? %>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
          <li>
          <%= msg %>
          </li>
      <% end %>
    </ul>
  <% end %>
  <%= simple_form_for @comment do |f| %>
        <label>Name<br>
      <%= f.text_field :name %>
        </label><br>
        <label>Email<br>
      <%= f.text_field :email %>
        </label><br><br>
        <label>Comments<br>
      <%= f.text_area :comments, rows: 10, cols: 50 %>
        </label><br>
        <input type="submit" name="submit" value="Done!">
  <% end %>
</div>

<div class="projects">
  <h2>Projects</h2>
  <p>
    Projects I'm working on...
  </p>

</div>
