<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Development</title>
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>

<div class="container" id="welcome-body">
<div class="header"><!-- end .header --></div>
<div class="header"></div>
<div id="grades"><a href="/graphicdesign.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','<%= asset_path('graphicdesignhover.jpg') %>',1)">
  <img src="<%= asset_path('graphicdesignbtn.jpg') %>" name="Image4" width="200" height="120" border="0" id="Image4" /></a>
  <a href="/webdev.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','<%= asset_path('_media/_images/graphicdesignhover.jpg') %>',1)"></a>
</div>
<div id="apDiv1"><a href="/webdev.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','<%= asset_path('webdesignhover.jpg') %>',1)">
  <img src="<%= asset_path('webdesignbtn.jpg') %>" name="Image5" width="200" height="120" border="0" id="Image5" /></a>
</div>
<div class="content">
  <h1><img src="<%= asset_path('bizcardweb1nobtns.jpg') %>" alt="Tania Kelvin" width="1022" height="582" border="0" /></h1>

<div id="apDiv3"><a href="/fineart.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','<%= asset_path('profilehover.jpg') %>',1)">
  <img src="<%= asset_path('profilebtn.jpg') %>" name="Image7" width="200" height="120" border="0" id="Image7" /></a>
</div>

<div id="apDiv2"><a href="/multimedia.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','<%= asset_path('multimediahover.jpg') %>',1)">
  <img src="<%= asset_path('multimediabtn.jpg') %>" name="Image6" width="200" height="120" border="0" id="Image6" /></a>
</div>

<!-- end .content --></div>
<div class="footer">
  <p>&nbsp;</p>
  <!-- end .footer --></div>
<!-- end .container --></div>


<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>

</body>
</html>
